<!DOCTYPE html>
<html lang="en">

<head>
  <title>requestParser</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="jumbotron text-center">
    <h1>request header parser</h1>
    <p>API Basejump</p>
  </div>

  <div class="container">
    <h2>User stories:</h2><br>
    <blockquote>
      <ul> 1) I can get the IP address, language and operating system for my browser.</ul>
    </blockquote>

    <h2>Sample Input</h2>

    <code>https://requestparser-kalpitp.herokuapp.com</code><br>

    <h2>Sample Output</h2><br>

    <code>

      {"ipaddress":"24.0.60.242","language":"en-us","software":"Macintosh; Intel Mac OS X 10_13_1"}

    </code>
  </div>

</body>

</html>
